.add-task-container {
  margin: 1vh 0;
  max-width: 100vw;
  display: flex;
}

.add-task-input {
  padding: 1vh;
  border-radius: 1vh;
  border: none;
  background-color: #444;
  color: #eee;
  font-size: 1rem;
  flex:2;
}
.add-task-button-container {
  margin-left: 1vh;
  flex: 1;
}
