.add-task-container{
    margin:1vh 0;
    width:33vw;
    display:flex;
}

.add-task-input{
    height:4vh;
    padding:1vh;
    border-radius:1vh;
    border:none;
    flex:2;
    background-color:#444;
    color:#eee;
    font-size:1rem;
}
.add-task-button-container{
    margin-left:1vh;
    flex:1;
}