.button {
  min-width:2vw;
  background-color: chartreuse;
  padding: 2.3vh 1vh 2.3vh 1vh;
  font-size: 1.24em;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  border: none;
  align-items: center;
}
