.task-container {
  background-color: #444;
  margin: 1vh 0;
  padding: 2vh;
  display: flex;
  border-radius: 1vh;
  justify-content: space-between;
  color: #eee;
  align-items: center;
  font-size: 1rem;
}
.task-title {
  cursor: pointer;
}

.buttons-container{
  width:20vh;
  display:flex;
  justify-content: flex-end;
}
.see-task-details-button,.remove-task-button {
  background: #444;
  border: none;
  font-size: 1.25rem;
  color: #00b2e8;
}