.container {
  font-size: 62.5%;
  max-width: 70vh;
  min-height: 40vh;
  margin: 3vh auto;
  overflow: hidden;
  border: 0.4vh solid chartreuse;
  border-radius: 2vh;
  padding: 3vh;
  justify-content: center;
}
